@page "/cricPlayers"
@using CricDB.Shared
@inject HttpClient Http

<PageTitle>CricPlayer</PageTitle>



<h1> Internation Cricket Players</h1>




@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Team ID</th>
                <th>Players Name</th>
                <th>Team Name</th>
                <th>Face ImageId</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var cricplayer in players)
            {
                <tr>
                    <td>@cricplayer.id</td>
                    <td>@cricplayer.name</td>
                    <td>@cricplayer.teamName</td>
                    <td>@cricplayer.faceImageId</td>
                  
                </tr>
            }
        </tbody>
    </table>
    <div>
    <script type="text/javascript">
            $("#teamsTable").DataTable();
    </script>
    </div>
}

@code {
    private CricPlayer[]? players; 

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();

        client.BaseAddress = new Uri("https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/trending");
        client.DefaultRequestHeaders.Accept.Clear();
        client.DefaultRequestHeaders.Accept.Add(
            new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue(
                "application/json"));

        client.DefaultRequestHeaders.Add("X-RapidAPI-Key",
                            "4ab826901dmsh1496f40110feafap10adc5jsn28aeec5e3881");
        client.DefaultRequestHeaders.Add("X-RapidAPI-Host",
                            "cricbuzz-cricket.p.rapidapi.com");

        HttpResponseMessage response = await client.GetAsync("/stats/v1/player/trending");

        Console.WriteLine(response.IsSuccessStatusCode);
        Console.WriteLine(response.ToString()); 
        Console.WriteLine(response); 

        if (response.IsSuccessStatusCode)
        {

            String str = await response.Content.ReadAsStringAsync();
            PlayerAPIReponse apiResponse =
                        System.Text.Json.JsonSerializer.Deserialize<PlayerAPIReponse>(str);
            Console.WriteLine(apiResponse);
            players = apiResponse.list;
        }
        Console.WriteLine(response.StatusCode);
    }
}
